{{ form_start(formlogement) }}


<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formlogement.numberclient) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formlogement.typeLogement) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formlogement.price) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formlogement.description) }}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            {{ form_row(formlogement.status) }}
        </div>
    </div>
</div>

<div class="row"> 
    {% if editMode %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-success btn-block">Modifier</button>
        </div>
    {% else %}
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info btn-block">Ajouter</button>
        </div>
    {% endif %}
    
    <div class="col-lg-6">
	    <button type="reset" class="btn btn-default btn-block">Reseter</button>
    </div>
</div>

{{ form_end(formlogement) }}